<a href="https://colab.research.google.com/github/Munfred/scdefg/blob/main/scdefg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# last altered jan 22 01:09

In [ ]:
# clone repo which contains the html templates for flask
!git clone https://github.com/Munfred/scdefg.git

Cloning into 'scdefg'...
remote: Enumerating objects: 40, done.
remote: Counting objects: 100% (40/40), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 40 (delta 11), reused 10 (delta 4), pack-reused 0
Unpacking objects: 100% (40/40), done.

In [ ]:
# install flask dependencies on colab, takes a minute or two
!pip install scvi-tools --quiet
!pip install Flask-Misaka --quiet
!pip install Flask-Markdown --quiet
!pip install flask-ngrok --quiet
!pip install flask==0.12.2 --quiet
# Newer versions of flask don't work in Colab
# See https://github.com/plotly/dash/issues/257

     |████████████████████████████████| 153kB 6.1MB/s
     |████████████████████████████████| 194kB 8.4MB/s
     |████████████████████████████████| 245kB 8.9MB/s
     |████████████████████████████████| 122kB 9.9MB/s
     |████████████████████████████████| 51kB 4.7MB/s
     |████████████████████████████████| 133kB 6.2MB/s
  Building wheel for misaka (setup.py) ... done
     |████████████████████████████████| 174kB 7.0MB/s
  Building wheel for Flask-Markdown (setup.py) ... done
     |████████████████████████████████| 92kB 4.6MB/s

In [ ]:
from flask import Flask, Response, jsonify, request, render_template, Blueprint, send_file, redirect, url_for
import logging
import pandas as pd
import sys
import json
import time
from io import StringIO
import urllib
from flaskext.markdown import Markdown
from flask_misaka import Misaka
from flask_ngrok import run_with_ngrok
from google.colab import files
import anndata
import scvi
import numpy as np
from tqdm import tqdm
print('scvi-tools verseion:', scvi.__version__)

scvi-tools verseion: 0.8.1

In [ ]:
# this cell will download the file taylor2020.h5ad with the C. elegans single cell 
# data from the CeNGEN project. The data is described in the preprint 
# "Molecular topography of an entire nervous system", by Taylor et al 2020
# https://doi.org/10.1016/j.neuron.2018.07.042

!wget -nc https://github.com/Munfred/wormcells-site/releases/download/taylor2020/taylor2020.h5ad

# this is an example, you can just as easily load your own .h5ad file

--2021-01-22 03:24:35--  https://github.com/Munfred/wormcells-site/releases/download/taylor2020/taylor2020.h5ad
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/Munfred/wormcells-data/releases/download/taylor2020/taylor2020.h5ad [following]
--2021-01-22 03:24:35--  https://github.com/Munfred/wormcells-data/releases/download/taylor2020/taylor2020.h5ad
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://github-production-release-asset-2e65be.s3.amazonaws.com/222185132/0b5c6880-5149-11eb-8695-20a4f0843b75?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20210122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210122T032435Z&X-Amz-Expires=300&X-Amz-Signature=c4eb1c9315ac989690d024ebca1abb6d1e0525aa6b0f9891799a407455257906&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=222185132&response-content-disposition=attachment%3B%20filename%3Dtaylor2020.h5ad&response-content-type=application%2Foctet-stream [following]
--2021-01-22 03:24:35--  https://github-production-release-asset-2e65be.s3.amazonaws.com/222185132/0b5c6880-5149-11eb-8695-20a4f0843b75?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20210122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210122T032435Z&X-Amz-Expires=300&X-Amz-Signature=c4eb1c9315ac989690d024ebca1abb6d1e0525aa6b0f9891799a407455257906&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=222185132&response-content-disposition=attachment%3B%20filename%3Dtaylor2020.h5ad&response-content-type=application%2Foctet-stream
Resolving github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)... 52.216.153.84
Connecting to github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)|52.216.153.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 381516791 (364M) [application/octet-stream]
Saving to: ‘taylor2020.h5ad’

taylor2020.h5ad     100%[===================>] 363.84M  62.6MB/s    in 7.0s

2021-01-22 03:24:42 (52.1 MB/s) - ‘taylor2020.h5ad’ saved [381516791/381516791]

In [ ]:
adata = anndata.read('taylor2020.h5ad')
print(adata)
display(adata.obs.head())
display(adata.var.head())

AnnData object with n_obs × n_vars = 100955 × 46911
    obs: 'dropbox_id', 'counts', 'experiment_code', 'cell_type', 'tissue'

                           dropbox_id  counts  ...    cell_type       tissue
1806-ST-1-AAACCTGAGAGACGAA  1806-ST-1      65  ...  Unannotated  Unannotated
1806-ST-1-AAACCTGAGGTAAACT  1806-ST-1     367  ...          AVF       Neuron
1806-ST-1-AAACCTGAGGTAGCCA  1806-ST-1    1792  ...          AVH       Neuron
1806-ST-1-AAACCTGAGTAACCCT  1806-ST-1    1229  ...          RIA       Neuron
1806-ST-1-AAACCTGAGTACGCGA  1806-ST-1    1401  ...          AUA       Neuron

[5 rows x 5 columns]

Empty DataFrame
Columns: []
Index: [WBGene00014450, WBGene00014451, WBGene00010957, WBGene00010958, WBGene00014452]

In [ ]:
adata.obs[adata.obs['experiment_code']==experiment]['cell_type'].value_counts()

Epidermis    360
AIZ          326
Germline     249
AIM          231
URA          195
            ...
DVA            0
AVD            0
AVB            0
RIM            0
M3             0
Name: cell_type, Length: 169, dtype: int64

In [ ]:
# our adata has annotations by experiment, by cell type and by tissue
# we use the experiment code and cell type to generate a dataframe
# that counts how many cells of each type are present in each experiment
# this dataframe is needed to create the table that allows the user to select 
# which cells to compare on the app

# cell type does on the index, experiment on the columns, entries are number of
# cells of that type per experiment

experiments= np.sort(adata.obs.experiment_code.unique())
unique_cell_types=np.sort(adata.obs.cell_type.unique())
census=pd.DataFrame(np.nan, index= unique_cell_types, columns=experiments)

for experiment in experiments:
    census[experiment] = census.index.map(adata.obs[adata.obs['experiment_code']==experiment]['cell_type'].value_counts())


census.index=census.index.rename('Cell Type')
census.to_csv('census.csv')
census

               Pan-1  Pan-2  acr-2  ...  unc-47_2  unc-53  unc-86
Cell Type                           ...
ADA               91    130     10  ...         5       3     174
ADE               48     70      0  ...         0       2       0
ADF                3     16     12  ...         0       1       1
ADL                8     14     11  ...         5      12       4
AFD               27     57      2  ...         3       2       0
...              ...    ...    ...  ...       ...     ...     ...
VD_DD            125    153     39  ...       464      31      12
Vulval_cells       3      3      1  ...         0       0      10
Vulval_muscle      2      3      5  ...         1      42       9
XXX                1      1      2  ...         1       0       1
hmc                2      1      4  ...         0       1       1

[169 rows x 17 columns]

In [ ]:
adata.obs.experiment_code.unique()

['Pan-1', 'Pan-2', 'unc-47_1', 'nmr-1', 'unc-47_2', ..., 'ceh-34', 'unc-86', 'unc-53', 'nlp-13_ceh-2', 'ceh-28_dat-1']
Length: 17
Categories (17, object): ['Pan-1', 'Pan-2', 'unc-47_1', 'nmr-1', ..., 'unc-86', 'unc-53',
                          'nlp-13_ceh-2', 'ceh-28_dat-1']

In [ ]:
pd.read_csv('./scdefg/df.csv')

                           Cell Type  L2_experiment_1  ...  tph-1_ceh-10  unc-3
0                   ABarpaaa_lineage                0  ...             0      0
1                               ADA?                0  ...             1     62
2                ADA_ADE_grandparent                0  ...             0      0
3                                ADE                0  ...             1      2
4                        ADE_CEP_PDE              126  ...             0      0
..                               ...              ...  ...           ...    ...
337   Vulval_precursor_bin_1_late_L2              282  ...             0      0
338  Vulval_precursor_bin_2_early_L3              271  ...             0      0
339                              XXX               73  ...             0      0
340                                Y                0  ...             0      0
341                            Z1_Z4                0  ...             0      0

[342 rows x 22 columns]

In [ ]:
df = pd.read_csv('./scdefg/df.csv')
df

         Cell Type  Pan-1  Pan-2  acr-2  ...  unc-47_1  unc-47_2  unc-53  unc-86
0              ADA     91    130     10  ...         0         5       3     174
1              ADE     48     70      0  ...         0         0       2       0
2              ADF      3     16     12  ...         0         0       1       1
3              ADL      8     14     11  ...         0         5      12       4
4              AFD     27     57      2  ...         0         3       2       0
..             ...    ...    ...    ...  ...       ...       ...     ...     ...
164          VD_DD    125    153     39  ...       594       464      31      12
165   Vulval_cells      3      3      1  ...         0         0       0      10
166  Vulval_muscle      2      3      5  ...         1         1      42       9
167            XXX      1      1      2  ...         1         1       0       1
168            hmc      2      1      4  ...         0         0       1       1

[169 rows x 18 columns]

In [ ]:
# in order to create the interactive volcano plot with gene names and descriptions
# we download the C. elegans gene descriptions from the Alliance of Genome Resources
!wget -nc http://download.alliancegenome.org/3.2.0/GENE-DESCRIPTION-TSV/WB/GENE-DESCRIPTION-TSV_WB_10.tsv.gz
# then we parse the gene descriptions into a dataframe and add those to the adata
# the alliance download page at https://www.alliancegenome.org/downloads  provides
# gene descriptions for C.elegans, zebrafish, drosophilam humans, rat, mouse and yeast
# so by tweaking the code in this cell you can add gene descriptions to your own dataset!
gene_descriptions=pd.read_csv('GENE-DESCRIPTION-TSV_WB_10.tsv.gz', sep='\t', skiprows=14, header=None)
gene_descriptions.columns=['orig_id','gene_name', 'gene_description']
gene_descriptions['gene_id']=gene_descriptions['orig_id'].str.split(':',expand=True)[1]
gene_descriptions.index=gene_descriptions['gene_id'].values

# we add the gene descriptions to adata.var by mapping them using the gene id that
# is already in the adata.var index
adata.var['gene_id']=adata.var.index.map(gene_descriptions['gene_id'])
adata.var['gene_name']=adata.var.index.map(gene_descriptions['gene_name'])
adata.var['gene_description']=adata.var.index.map(gene_descriptions['gene_description'])
adata.var.head()

--2021-01-22 03:37:11--  http://download.alliancegenome.org/3.2.0/GENE-DESCRIPTION-TSV/WB/GENE-DESCRIPTION-TSV_WB_10.tsv.gz
Resolving download.alliancegenome.org (download.alliancegenome.org)... 13.249.134.109, 13.249.134.49, 13.249.134.3, ...
Connecting to download.alliancegenome.org (download.alliancegenome.org)|13.249.134.109|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 885437 (865K) [application/x-gzip]
Saving to: ‘GENE-DESCRIPTION-TSV_WB_10.tsv.gz’

GENE-DESCRIPTION-TS 100%[===================>] 864.68K  --.-KB/s    in 0.06s

2021-01-22 03:37:11 (15.3 MB/s) - ‘GENE-DESCRIPTION-TSV_WB_10.tsv.gz’ saved [885437/885437]

                       gene_id  ...                                   gene_description
gene_id                         ...
WBGene00014450  WBGene00014450  ...                           No description available
WBGene00014451  WBGene00014451  ...                           No description available
WBGene00010957  WBGene00010957  ...  Predicted to have NADH dehydrogenase (ubiquino...
WBGene00010958  WBGene00010958  ...  Predicted to have NADH dehydrogenase (ubiquino...
WBGene00014452  WBGene00014452  ...                           No description available

[5 rows x 3 columns]

In [ ]:
logging.basicConfig(level=logging.INFO)
logger=logging.getLogger(__name__)
logger.info('Starting wormcells-de...')

flask_app = Flask(__name__, template_folder='./scdefg/templates', static_folder='./scdefg/static')
flask_app.config['JSONIFY_PRETTYPRINT_REGULAR'] = False

run_with_ngrok(flask_app)
Misaka(flask_app, math_explicit = True)


tables = Blueprint('tables', __name__, url_prefix='/tables')

# read in the census dataframe with the number of cells of each label in each dataset
# to render the table titles better we replace underscores with spaces,
# and use non breaking hyphens (&#8209;) 
df_nice_names = pd.read_csv(flask_app.open_resource('census.csv'))
df_nice_names.columns = df_nice_names.columns.str.replace('_',' ')
df_nice_names.columns = df_nice_names.columns.str.replace('-','&#8209;')

# convert df to dict for sending as json to datatables
dict_df = df_nice_names.to_dict(orient='records')
# convert column names into dict for sending as json to datatables
columns = [{"data": item, "title": item} for item in df_nice_names.columns]

#### datatables to render the selection tables ####
@tables.route("/", methods=['GET'])
def clientside_table_content():
    return jsonify({'data': dict_df, 'columns': columns})

flask_app.register_blueprint(tables)

# this is the landing page
@flask_app.route("/")
def clientside_table():
    return render_template("clientside_table.html")


####

@flask_app.route("/test")
def test():
    return render_template("test.html")

# @flask_app.route("/")
# def index():
#     logger.info('Got a request for index!')
#     return render_template("index.html")

@flask_app.route('/submit', methods=['POST', 'GET'])
def receive_submission():
    logger.info('Got a submission!')
    print('PRESSED THE SUBMISSION BUTTOOOON')
    # answer is a dict of json strings containing selected row and column index numbers
    answer = request.form.to_dict(flat=False)
    print(answer)
    print(df.head())

    
    # need to convert the json strings to dict, then to a data frame
    # data1 is the selection for the first group, data2 for the second
    data1 = json.loads(answer['data1'][0])
    data1_df = pd.DataFrame.from_dict(data1[0])

    print(data1_df)
    data2 = json.loads(answer['data2'][0])
    data2_df = pd.DataFrame.from_dict(data2[0])

    # now map the index number to experiment name and cell type name
    group1_df = pd.DataFrame()
    group1_df['cell_type1'] = data1_df['row'].map(df['Cell Type'])
    group1_df['experiment1'] = data1_df['column'].map(pd.Series(df.columns.values))

    group2_df = pd.DataFrame()
    group2_df['cell_type2'] = data2_df['row'].map(df['Cell Type'])
    group2_df['experiment2'] = data2_df['column'].map(pd.Series(df.columns.values))

    genes = StringIO(json.loads(answer['genes'][0]))
    genes_df = pd.read_csv(genes, names=['selected_genes'])

    jobname_df = pd.DataFrame(columns=['job_name'])
    jobname_df = jobname_df.append({'job_name': 'bla'}, ignore_index=True)

    selected_groups_df = pd.concat([group1_df, group2_df, genes_df, jobname_df], axis=1)
    print(selected_groups_df)

    csv_buffer = StringIO()
    selected_groups_df.to_csv(csv_buffer)
    # files.download("readme.md")


    # return 'derpderp'
    print('RETURN FILE NOW')
    # return send_file('/content/df.csv')
    # return send_file('./foo.txt', as_attachment=True)
    return redirect(url_for('test'))

@flask_app.route("/get_results_csv")
def get_results_csv():
    # csv = pd.read_csv('results.csv')
    with open("results.csv") as fp:
        csv = fp.read()  
    # csv = '1,2,3\n4,5,6\n'
    return Response(
        csv,
        mimetype="text/csv",
        headers={"Content-disposition":
                 "attachment; filename=results.csv"})

@flask_app.route('/file_downloads')
def file_downloads():
	try:
		return render_template("""
			<body class="body">
				<div class="container" align="left">
					<a href="/return_files/" target="blank"><button class='btn btn-default'>Download!</button></a>
				</div>
			</body>	
		""")
	except Exception as e:
		return str(e)
  
@flask_app.route('/return_files/')
def return_files():
	try:
		return send_file('./foo.txt', as_attachment=True)#, attachment_filename='python.jpg')
	except Exception as e:
		return str(e)



if __name__ == "__main__":
    flask_app.run()

INFO:__main__:Starting wormcells-de...
INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://dc39deefd37c.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

INFO:werkzeug:127.0.0.1 - - [22/Jan/2021 04:06:34] "GET / HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [22/Jan/2021 04:06:35] "GET /static/js/clientside_table.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [22/Jan/2021 04:06:35] "GET /tables/ HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [22/Jan/2021 04:06:36] "GET /tables/ HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [22/Jan/2021 04:06:36] "GET /static/favicon.ico HTTP/1.1" 200 -